/* body {
    background: url('../images/rick_01.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

/* Agrega tus estilos para el título aquí */
.title {
    
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #42e619;
    font-size: 5em;
    margin-top: 30px;
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000;
}

/* Estilos para la paginación */
.pagination .page-link {
    border: none;
    color: #ffffff;
}

.pagination .page-item.active .page-link {
    background-color: #42e619;
}

.pagination .page-link.prev-next {
    background-color: #007bff;
}

.pagination .page-link.current {
    background-color: #6c757d;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: transparent;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 3.5em; /* Tamaño del título para pantallas grandes */
}

/* Cuando la pantalla es de 600px o menos, disminuye el tamaño del título */
@media screen and (max-width: 600px) {
    .title {
        font-size: 2.5em;
    }
}

/* Cuando la pantalla es de 400px o menos, disminuye aún más el tamaño del título */
@media screen and (max-width: 400px) {
    .title {
        font-size: 1.5em;
    }
}